{% extends "cabecera.html" %}
{% block menu %}
    <!-- breadcrumb start-->
   <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
							{% block contenido1 %}
							{% endblock %}                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!-- breadcrumb start-->
                        
	{% block contenido2 %}
	{% endblock %}
	<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-sm-6 col-md-4">
						<div class="single-footer-widget footer_1">
							<h4>Sobre nosotros</h4>
							<p>Si te gusta el proyecto Favor Design contácta con nosotras para colaborar en la aplicación. Y si tienes 
								nuevas ideas no dudes en ponerse en contácto con nosotras a través de nuestras redes sociales.  
							</p>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-md-4">
						<div class="single-footer-widget footer_2">
							<h4>De interés</h4>
							<div class="contact_info">
								<ul>
									<li><a href="https://www.youtube.com/user/Barmaninred">Barman in red</a></li>
									<li><a href="https://www.youtube.com/channel/UCyUNP15UN-W-GmvsHicmdjw"> Decocktail</a></li>
									<li><a href="https://www.youtube.com/channel/UCNZOa4aI0hDlyVJm1lolUig">Cocteleando</a></li>
									<li><a href="http://www.clubdelbarman-abecat.com/es/">Club del barman</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-md-4">
						<div class="single-footer-widget footer_2">
							<h4>Contacta</h4>
							<div class="contact_info">
								<p><span> Dirección: </span> Calle Las Botijas, 10, 41700. Dos Hermanas, Sevilla.</p>
								<p><span> Teléfono: </span> 654 242 455</p>
								<p><span> Email : </span>palomagarciacampon08@gmail.com </p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-md-6">
						<div class="single-footer-widget footer_3">
							<h4>Escrcíbenos</h4>
							<p>Envíanos a continuación un comentario para mejorar la aplicación</p>
							<form action="#">
								<div class="form-group">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder='Email Address'
											onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
										<div class="input-group-append">
											<button class="btn" type="button"><i class="fas fa-paper-plane"></i></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="copyright_part_text">
					<div class="row">
						<div class="col-lg-8">
							
						</div>
						<div class="col-lg-4">
							<div class="copyright_social_icon text-right">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="ti-dribbble"></i></a>
								<a href="#"><i class="fab fa-behance"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer part end-->
	
		<!-- jquery plugins here-->
		<!-- jquery -->
		<script src="js/jquery-1.12.1.min.js"></script>
		<!-- popper js -->
		<script src="js/popper.min.js"></script>
		<!-- bootstrap js -->
		<script src="js/bootstrap.min.js"></script>
		<!-- easing js -->
		<script src="js/jquery.magnific-popup.js"></script>
		<!-- swiper js -->
		<script src="js/swiper.min.js"></script>
		<!-- swiper js -->
		<script src="js/masonry.pkgd.js"></script>
		<!-- particles js -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- swiper js -->
		<script src="js/slick.min.js"></script>
		<script src="js/gijgo.min.js"></script>
		<script src="js/jquery.nice-select.min.js"></script>
		<!-- custom js -->
		<script src="js/custom.js"></script>	
{% endblock %}