{% extends "about.html" %}
{% block contenido1 %}
    <h2>Cócteles</h2>
{% endblock %}

{% block contenido2 %}
    
    <section class="blog_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% for i in cocrandom %} 
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="">
                                    <a class="blog_item_date">  
                                        <h3>{{ i[0]['strMeasure1'] }}</h3>
                                        <p>{{ i[0]['dateModified'][5] }}{{ i[0]['dateModified'][6] }}/{{ i[0]['dateModified'][8] }}{{ i[0]['dateModified'][9] }}/{{ i[0]['dateModified'][2] }}{{ i[0]['dateModified'][3] }}</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="/coctel/{{ i[0]['idDrink'] }}">
                                        <h2>{{ i[0]['strDrink'] }}</h2>
                                    </a>
                                    <p>{{ i[0]['strInstructions'] }}</p>
                                    <ul class="blog-info-link">
                                        <li><a>{{ i[0]['strGlass'] }}</a></li>
                                        <li><a>{{ i[0]['strAlcoholic'] }}</a></li>
                                    </ul>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">    
                                <aside class="single_sidebar_widget search_widget">
                                        <form action="/busqueda" method='POST'>
                                           <div class="form-group">
                                              <div class="input-group mb-3">
                                                 <input type="text" name="coctel" class="form-control" placeholder='Buscar coctel'
                                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                                 <div class="input-group-append">
                                                    <button class="btn" type="button"><i class="ti-search"></i></button>
                                                 </div>
                                              </div>
                                           </div>
                                           <button class="button rounded-0 primary-bg text-white w-100 btn_2" type="submit">Buscar</button>
                                        </form>
                                    </aside>
                                    <aside class="single_sidebar_widget popular_post_widget">
                                        <h3 class="widget_title">Cafe y te</h3>
                                        {% for i in range(1, 5) %}
                                        <div class="media post_item">
                                            <img src="{{ listacafeyte[i]['strDrinkThumb'] }}" alt="post" height="60" width="60">
                                            <div class="media-body">
                                                <a href="/coctel/{{ listacafeyte[i]['idDrink'] }}">
                                                    <h3>{{ listacafeyte[i]['strDrink'] }}</h3>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </aside>
                                    <aside class="single_sidebar_widget popular_post_widget">
                                        <h3 class="widget_title">Sin alcohol</h3>
                                        {% for i in range(1, 5) %}
                                        <div class="media post_item">
                                            <img src="{{ listasinalcohol[i]['strDrinkThumb'] }}" alt="post" height="60" width="60">
                                            <div class="media-body">
                                                <a href="/coctel/{{ listasinalcohol[i]['idDrink'] }}">
                                                    <h3>{{ listasinalcohol[i]['strDrink'] }}</h3>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                        

{% endblock %}