{% extends "about.html" %}
{% block contenido1 %}
    <h2>Cócteles</h2>
{% endblock %}

{% block contenido2 %}
    <section class="our_offer single_page_offer">
            <div class="container-fluid">
                <div class="row justify-content-center">
                        <div class="section_tittle">
                            <h2>Mejores cócteles</h2>
                                <p> con {{ nombre }}</p>
                                    {% for i in listaing %}
                                    <div class="single_offer_part">
                                        <div class="single_offer">
                                            <img src="{{ i['strDrinkThumb'] }}" alt="offer_img_1">
                                            <div class="hover_text">
                                                <h2>{{ i['strDrink'] }}</h2>
                                                <a href="/coctel/{{ i['idDrink'] }}" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                                            </div>
                                        </div>
                                    </div>  
                                    {% endfor %}                        
                        
                            </div>
                    </div>
                </div>
        </section>
{% endblock %}
